* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100svh;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .branding {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .branding span {
        font-size: 12rem;
    }


    nav {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    nav span {
        vertical-align: middle;
    }

    nav a {
        text-decoration: none;
        color: black;
        transition: .2s;

        &:hover {
            color: rgb(0, 17, 255);
        }
    }
}

main {
    padding: 3rem 2rem;

    .search-bar {
        display: flex;
        border: 2px solid black;
        border-radius: .5rem;
        overflow: clip;
    }

    .search-bar input {
        flex: 1;
        border: none;
        outline: none;
        padding: .5rem;
    }

    .search-bar button {
        border: none;
        padding: .5rem;
        cursor: pointer;
    }

    .search-bar button span {
        vertical-align: middle;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 2rem;

        * {
            border: none;
        }

        tr {
            border-bottom: 2px solid black
        }
    }
}